body {
  font-size: 16px;
  font-family: "Segoe UI", sans-serif;
  text-align: center;
  color: #333;
  margin: 0;
}

#main {
  margin: 30px 8px;
  padding: 15px;
  background: linear-gradient(0, #eee, #ccc);
  border-radius: 8px;
}

.headline {
  text-align: center;
  margin: 10px auto 0 auto;
}

@media (max-width: 460px) {
  #main {
    margin: 15px 4px;
  }
  h1 {
    font-size: 35px;
  }
  p {
    margin: 0 0 25px 0;
  }
  .image {
    margin: 0;
  }


h1 {
  font-size: 40px;
}

h2 {
  font-size: 18px;
}

a {
  color: #477ca7;
}

a:visited {
  color: #74638f;
}

.image {
  max-width: 100%;
  display: block;
  height: auto;
  margin: 0 auto;
}

.img-div {
  background-color: #fff;
  padding: 20px;
  margin: 10px 0 0 0;
  box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
}

#headline {
  margin: 40px 0;
}

p {
  max-width: 500px;
  margin: 0 auto 25px auto;
  text-align: left;
}

ul {
  max-width: 500px;
  text-align: left;
  margin: 0 auto 25px auto;
}

li {
  margin-bottom: 25px;
}
